{% extends "musicHome/base.html" %}
    {% load staticfiles %}
        {% block body %}
            <div id="page-wrapper">
							
								<div class="inner-content">
								<div class="tittle-head">
											<h3 class="tittle">Find Us </h3>
											<div class="clearfix"> </div>
										</div>
									<!-- /contact-->
									<div class="contact">
									 <div class="contact-left">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14608.039147951962!2d90.36710723036111!3d23.74703040345487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b33cffc3fb%3A0x4a826f475fd312af!2sDhanmondi%2C+Dhaka+1205!5e0!3m2!1sen!2sbd!4v1523192105480" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
									<div class="contact-right">
										<p class="phn">+8801642407169</p>
										<p class="phn-bottom">1230 dhaka
												<span> shankar, Dhanmondi, Dhaka</span></p>
										<p class="lom">For any details information please contact us</p>
									</div>
									<div class="clearfix"> </div>
									<div class="contact-left1">
										<h3>Contact Us With <span>Any questions</span></h3>
										<div class="in-left">
										<form action="#" method="post">
												<p class="your-para">Your Name :</p>
														<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
											
														<p class="your-para">Your Mail :</p>
														<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
														<p class="your-para">Phone Number:</p>
														<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">

											</form>
										</div>
										<div class="in-right">
											<form>
												<textarea placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}" required=""></textarea>
												<input type="submit" value="Submit">
											</form>
										</div>
										<div class="clearfix"> </div>
									</div>
													<div class="contact-right1">
														<h3><span>Social Websites</span></h3>
														<h4>Nullam ac urna velit pellentesque in <label>arcu tortor 
															Pellentesque nec</label></h4>
														<p>Nullam ac urna velit. Pellentesque in arcu tortor. 
															Pellentesque nec est et elit varius pulvinar eget vitae sapien. 
															Aenean vehicula accumsan gravida. Cum sociis natoque penatibus
															et magnis dis parturient montes, nascetur ridiculus mus. Phasellus 
															et lectus in urna consequat consectetur ut eget risus.</p>
															 <ul class=" side-icons con">
																		<li><a class="fb" href="#"></a></li>
																		<li><a class="twitt" href="#"></a></li>
																		<li><a class="goog" href="#"></a></li>
																		<li><a class="drib" href="#"></a></li>
																   </ul>
													</div>
													<div class="clearfix"> </div>
											<!-- //contact -->
											 	 <!-- /wthree-agile -->
														</div>
								</div>
							<div class="clearfix"></div>
						<!--body wrapper end-->

					</div>
        {% endblock %}
