{% extends "musicHome/base.html" %}
{% load staticfiles %}
    {% block body %}
        <div id="page-wrapper">
				<div class="inner-content">

				      <div class="music-left">

							<div class="banner-section">
								<div class="banner">
									 <div class="callbacks_container">
										<ul class="rslides callbacks callbacks1" id="slider4">
                                            {% for i,song in songs %}
											   	<li>
                                                    <a href="{% url "song_detail" song.album.id song.id %}">
														<div class="banner-img">
															 <img src="{{ song.song_logo.url }}" class="img-responsive" alt="">
														 </div>
														<div class="banner-info">
														              <a class="trend" href="#">TRENDING</a>
																	  <h3>Let Your Home</h3>
																	  <p>{{ song.title }} <span>from {{ song.album.title }}</span></p>
														 </div>
                                                    </a>
												</li>
                                            {% endfor %}

											</ul>
										</div>

									<script src="{% static "musicHome/js/responsiveslides.min.js" %}"></script>
								 <script>

									$(function () {

									  $("#slider4").responsiveSlides({
										auto: true,
										pager:true,
										nav:true,
										speed: 500,
										namespace: "callbacks",
										before: function () {
										  $('.events').append("<li>before event fired.</li>");
										},
										after: function () {
										  $('.events').append("<li>after event fired.</li>");
										}
									  });

									});
								  </script>
								<div class="clearfix"> </div>
							</div>
						</div>

							<link href="{% static "musicHome/css/popuo-box.css" %}" rel="stylesheet" type="text/css" media="all">
							<script src="{% static "musicHome/js/jquery.magnific-popup.js" %}" type="text/javascript"></script>
							 <script>
									$(document).ready(function() {
									$('.popup-with-zoom-anim').magnificPopup({
										type: 'inline',
										fixedContentPos: false,
										fixedBgPos: true,
										overflowY: 'auto',
										closeBtnInside: true,
										preloader: false,
										midClick: true,
										removalDelay: 300,
										mainClass: 'my-mfp-zoom-in'
									});
									});
							</script>

						<div class="albums">
								<div class="tittle-head">
									<h3 class="tittle">New Releases <span class="new">New</span></h3>
									<a href="{% url "browse" %}"><h4 class="tittle">See all</h4></a>
									<div class="clearfix"> </div>
								</div>
                            {% for i, album in albums %}

                                <div class="col-md-3 content-grid" style="width: 40%;">
                                    <a class="play-icon " href="{% url "album_detail"  album.id %}"><img src="{{ album.album_logo.url }}" title="{{ album.title }}"></a>
                                    <a class="button play-icon " href="{% url "album_detail"  album.id %}">{{ album.title }}</a>
                                </div>
							{% endfor %}

											<div class="clearfix"> </div>
										</div>
							</div>

						   <div class="music-right">
                           {% if sr %}
                            <div class="header"><h3>you may also like</h3></div>
                            {% endif %}
                               {% for s in sr %}

                                <div class="col-md-3 content-grid" style="width: 100%">
                                    <a class="play-icon " href="{% url "song_detail"  s.album.id s.id %}"><img src="{{ s.song_logo.url }}" title="{{ s.title }}" ></a>
                                    <a class="button play-icon " href="{%  url "song_detail"  s.album.id s.id %}">{{ s.title }}</a>
                                    <br>
                                </div>
							{% endfor %}


											</div>

											<div class="clearfix"></div>
			 	 <!-- /w3l-agile-its -->
										</div>
						<!--body wrapper start-->

						<div class="review-slider">
								<div class="tittle-head">
									<h3 class="tittle">Featured Albums <span class="new"> New</span></h3>
									<div class="clearfix"> </div>
								</div>
								 <ul id="flexiselDemo1">
                            {% for album in all_albums%}
								<li>
									<a href="{% url "album_detail" album.id %}"><img src="{{ album.album_logo.url }}" alt=""/></a>
                                    <div class="slide-title"><h4>{{ album.title }}</h4> </div>
									<div class="date-city">
										<h5>{{ album.year }}</h5>
										<div class="buy-tickets">
											<a href="{% url "album_detail" album.id %}">READ MORE</a>
										</div>
									</div>
								</li>
							{% endfor %}
							</ul>
							<script type="text/javascript">
						$(window).load(function() {

						  $("#flexiselDemo1").flexisel({
								visibleItems: 5,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 3000,
								pauseOnHover: false,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint:480,
										visibleItems: 2
									},
									landscape: {
										changePoint:640,
										visibleItems: 3
									},
									tablet: {
										changePoint:800,
										visibleItems: 4
									}
								}
							});
							});
						</script>
						<script type="text/javascript" src="{% static "musicHome/js/jquery.flexisel.js" %}"></script>
						</div>
            </div>
    {% endblock %}
