
    {% load staticfiles %}
    <head>
    <link href='{%static "musicHome/css/bootstrap.css"  %}' rel='stylesheet' type='text/css' />
    <style>
        body {
                background-image: url("{% static "musicHome/images/guitar-background-1600x1066.png" %}");
            }
        input{
            border-radius: 5px;
            padding-left: 7px;
            }
        .header{
            padding-left: 10%;
            color: #204d74;
        }
        label{
            color: white;
        }
    </style>
</head>
    <body>
        <div id="page-wrapper">
        <div class="header">
                        <h1 style="font-weight: bold;">
                            MEUSIC
                        </h1>
                        <h4 style="padding-left: 3%">
                            Feel The Sound ... .
                        </h4>
                    </div>
				<div class="container inner-content">
               <div class="row" style="padding-left: 57%">

                <div class="panel-body">
                    <h3 style="color: white; font-weight: bold">Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'musicHome/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="background-color: transparent">
                    <span style="color: white">Already have an account? <button class="btn btn-info"><a href="{% url 'login' %}">Click here</a></button> to log in.</span>
                </div>

    </div>
                </div>
        </div>

    </body>